{% extends 'base.html' %}

{% block content %}

{% include 'nav.html' %}


<div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="container">

        <div class="inner cover">
          <h1 style="padding: 2ch;">IMDB-api</h1>
          <p class="lead" style="margin-bottom: 5ch;">

            IMDB api is a web service for receiving information about movies and cast information and user management.
            APIs results is a JSON and includes items such as movie specifications, images, cast and more.
          </p>
              <a href="/documents/" class="btn btn-primary">See docs</a>

        </div>

      </div>

    </div>

  </div>

{% endblock %}